*.swp
.DS_Store
bin
/.bundle
/.sass-cache
/config/database.yml
/config/deploy.yml
/config/settings.yml
/config/sunspot.yml
/db/*.sqlite3
/log/*.log
/log/*.log.lck
/public/assets
/public/system
/solr/data
/solr/pids
/tmp
erd.pdf
